#jstree
  %ul
    %li
      games
      %ul
        %li#catan Settlers of Catan
        %li#rftg Race for the Galaxy
    %li
      Success
      %ul
        %li School
        %li Business
    %li
      Sports
      %ul
        %li
          Football
          %ul
            %li
              NFL
              %ul
                %li Patriots
                %li Dolphins
            %li
              College
        %li Hockey
        %li Baseball
